.board-layout {
    background-color: black;
    color: white;	
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: grid;
    grid-template-rows: max-content auto;
    grid-gap: 8px;
    padding: 8px;
    height:800px;
  }.list-layout {
    display: grid;
    grid-gap: 8px;
   
  }.board-text {
    font-weight: bold;
    font-size: 28px;
    padding: 5px;
  }.board-lists {
    display: grid;
    grid-auto-columns: 275px;
    grid-auto-flow: column;
    grid-gap: 10px;
    height: 400px;
 
  }
  
  .board-list {
    background-color: black;
    border-radius: 3px;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 8px;/* Chrome use a fixed height */height: max-content;
    padding: 5px;
  }
  
  .list-title {
    font-size: 18px;
    font-weight: bold;
  }.card {
    background-color: rgb(105, 105, 105);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    padding: 8px;
    cursor:pointer;
  }