.board-layout {
    background-color: black;
    color: white;	
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: grid;
    grid-template-rows: max-content auto;
    grid-gap: 8px;
    padding: 8px;
    height:800px;
  }.list-layout {
    display: grid;
    grid-gap: 8px;
   
  }.board-text {
    font-weight: bold;
    font-size: 28px;
    padding: 5px;
  }.board-lists {
    display: grid;
    grid-auto-columns: 275px;
    grid-auto-flow: column;
    grid-gap: 10px;
    height: 400px;
 
  }
  
  .board-list {
    background-color: black;
    border-radius: 3px;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 8px;/* Chrome use a fixed height */height: max-content;
    padding: 5px;
  }
  
  .list-title {
    font-size: 18px;
    font-weight: bold;
  }.card {
    background-color: rgb(105, 105, 105);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    padding: 8px;
    cursor:pointer;
  }
  #stickynote {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    padding: 10px;
    gap: 10px;
    border-style: dotted;
    background:rgb(105, 105, 105); 
  }
  
  .note {
    height: 150px;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow:
      inset 0 -40px 40px rgba(0,0,0,0.2),
      inset 0 25px 10px rgba(0,0,0,0.2),
      0 5px 6px 5px rgba(0,0,0,0.2);
    resize: none;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    background: rgb(105, 105, 105);
    color:white;
    line-height:1.7em;
    font-size:25px;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  
  }
  
  .add-note {
    height: 150px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 120px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background 0.2s;
    background: yellow;
  }
  
  .add-note:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  .note:hover {
     transform: scale(1.2, 1.2);
     background-color: #0892d0;
  }
  