
*{
   margin: 0;
  padding: 0;
  box-sizing: border-box;
    overflow: hidden;



}

.display{
	width:100vw;
	height:100vh;
border-style: outset;
border-color: black grey white;

	border-width: 10px;
	background-color:#F0F8FF;

 

	

}

.settings{
	background-color: transparent;
	background-repeat: no-repeat;
	border:none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	position: absolute;
}

.leftframe{
  
width:60%;
  height: 100%;
  float:left;


}


.rightframe{
	width:40%;
	height: 100%;
	float:right;
	

}



.rightframe .button{

background-color: white;
opacity: 0.90;
border-radius: 25px;
float: left;

  width: 49%;
  height: 300px;

  cursor: pointer;
  border-color: #8F00FF;
   border-style: outset;
border-width: thick;
 box-shadow:red;
margin-top: 7px;
margin-left: 2px



}

 






