
*{
   margin: 0;
  padding: 0;
  box-sizing: border-box;
    overflow: hidden;



}

.display{
	width:100vw;
	height:100vh;
border-style: outset;
border-color:  linear-gradient(to right, #33ccff -12%, #663300 100%);
	border-width: 10px;
 
 background-image: url(../images/wall.jpeg);
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	

}

.settings{
	background-color: transparent;
	background-repeat: no-repeat;
	border:none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	position: absolute;
}

.leftframe{
  
width:60%;
  height: 100%;
  float:left;


}


.first{
  width: 100%;
  height: 21%;



}
.second{

  width: 100%;
  height:20%;

 
}
.third{

width: 100%;
height: 59%;


}


.weather{


opacity: 0.90;
border-radius: 25px;
float: left;

  width: 30%;
  height: 100%;

  cursor: pointer;
  

float: right;

}

.calendar{

border-radius: 25px;
float: left;

  width: 60%;
  height: 100%;

  cursor: pointer;
  



float: left;
}

.todolist{


border-radius: 25px;
float: left;

width: 30%;
height: 100%;

cursor: pointer;
  




float: right;
}









