
*{
   margin: 0;
  padding: 0;
  box-sizing: border-box;
    overflow: hidden;



}

.display{
	width:100vw;
	height:100vh;
border-style: outset;
border-color:  linear-gradient(to right, #33ccff -12%, #663300 100%);
	border-width: 10px;
 
 background-image: url(../images/wall.jpeg);
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	

}

.settings{

	
width:50px;
height:50px;
	cursor: pointer;
	position: absolute;
  transition:5.5s;


}

.settings:hover{
   -o-transform:rotate(720deg);
    -ms-transform:rotate(720deg);
    -moz-transform:rotate(720deg);
    -webkit-transform:rotate(720deg);
    transform:rotate(720deg);
}

.leftframe{
  
width:60%;
  height: 100%;
  float:left;


}
 /** dont change anything on first second and third . if you do it will mess up everthing;

/** weather**/
.first{
  width: 100%;
  height: 41%;



}

/** calendar and to do list**/
.second{

width: 100%;
height: 59%;


}




/** for weather section  **/
.weather{

opacity: 0.90;
border-radius: 25px;
float: left;

  width: 30%;
  height: 70%;

  cursor: pointer;
  

float: right;

}


/** For RSS feed **/

.rssfeed{
  background-color: red;/** you can delete it**/
text-align: center;
  /** do not change widht and height**/
  width: 70%;
  height: 100%
}




/** for caledar**/
.calendar{

border-radius: 25px;
float: left;

  width: 60%;
  height: 100%;

  cursor: pointer;
  



float: left;
}

/** for todolist**/
.todolist{


border-radius: 25px;
float: left;

width: 30%;
height: 100%;

cursor: pointer;
  




float: right;
}









